<section class="container cuore-main_section">
  <app-title-head
    [buttonName]="'Generic.Buttons.Crear' | translate"
    [titleName]="'State.Titulo' | translate"
    (event)="openModal()"
  >
  </app-title-head>

  <app-pre-table
    (eventChangeNumber)="numberRecordsData($event)"
    [pagedPage]="listState?.paged"
    (eventExport)="exportData()"
    (eventUpdateData)="updateData()"
  ></app-pre-table>
  <div class="table-responsive" *ngIf="listState?.list?.length > 0 || filters">
    <table
      [ngClass]="defaultStyleTable"
      matSort
      (matSortChange)="sortData($event)"
    >
      <caption>
        Tabla de registros paginados de la entidad
        {{
          "State.Titulo" | translate
        }}.
      </caption>
      <thead class="text-nowrap">
        <tr>
          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'Icon'"
              [typeFilter]="'string'"
              [titleName]="'State.Labels.icon' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>
          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'Name'"
              [typeFilter]="'string'"
              [titleName]="'State.Labels.name' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>
          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'Active'"
              [typeFilter]="'bool'"
              [titleName]="'State.Labels.active' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Item of listState?.list" (dblclick)="openModal(Item)">
          <td>{{ Item.icon }}</td>
          <td>{{ Item.name }}</td>
          <td><app-icon [showIcon]="Item.active"></app-icon></td>

          <td class="d-flex flex-column">
            <app-table-btn
              (updateClick)="openModal(Item)"
              (varClick)="openModal(Item, true)"
              (eliminarClick)="onDelete(Item)"
            >
            </app-table-btn>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-no-results [showError]="listState?.list?.length === 0"></app-no-results>
  <app-paginator
    [pagedPage]="listState?.paged"
    (event)="pageData($event)"
    [page]="page"
  >
  </app-paginator>
</section>
