<app-modal-head [isViewUpdate]="isUpdate" [isViewData]="isView" [titleName]="'Order.Titulo' | translate"
(eventCloseModal)="closeModal($event)"></app-modal-head>

<div class="modal-body">
   <form novalidate #alertForm="ngForm">
      <div class="form-group row">
         <label class="col-sm-3 col-form-label" for="txtDescription">{{'Order.Labels.Description' | translate}}</label>
         <div class="col-sm-9">
            <strong *ngIf="isView">{{ objEntidad.Description }}</strong>
            <textarea appNumbersLettersOnly *ngIf="!isView" rows="5" [(ngModel)]="objEntidad.Description" name="txaDescription" class="form-control" id="txDescription" placeholder="{{'Order.Placeholder.Description' | translate}}" required></textarea>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-sm-3 col-form-label" for="txtAmount">{{'Order.Labels.Amount' | translate}}</label>
         <div class="col-sm-9">
            <strong *ngIf="isView">{{ objEntidad.Amount }}</strong>
            <input appNumbersOnly *ngIf="!isView" type="text" [(ngModel)]="objEntidad.Amount" name="txAmount" maxlength ="50" class="form-control" id="txtAmount" placeholder="{{'Order.Placeholder.Amount' | translate}}"  required/>
         </div>
      </div>
   </form>
</div>

<app-modal-footer [isViewUpdate]="isUpdate" [isViewData]="isView" [disabled]="alertForm.invalid"
(cancelClick)="closeModal()" (createClick)="onCreate()" (updateClick)="onUpdate()" (deleteClick)="onDelete()"></app-modal-footer>
