<div class="modal-footer" style="display: block;">
    <app-button-generic [isViewUpdate]="isViewUpdate" [isViewData]="isViewData" [isViewPayment]="isViewPayment" [isViewCreate]="isViewCreate" [disabled]="disabled"
        [ActiveDelete]="ActiveDelete" [iconCreate]="iconCreate" [iconUpdate]="iconUpdate" [iconDelete]="iconDelete"
        [iconCancel]="iconCancel" [iconPayment]="iconPayment" (cancelClick)="onCancelClick($event)" (createClick)="onCreateClick($event)"
        (updateClick)="onUpdateClick($event)" (deleteClick)="onDeleteClick($event)" (paymentClick)="onPaymentClick($event)" >
    </app-button-generic>
</div>
