<section class="container cuore-main_section">
  <app-title-head [buttonName]="'Generic.Buttons.Crear' | translate" 
    [titleName]="'Order.Titulo' | translate"
    (event)="openModal()"> 
  </app-title-head>

  <app-pre-table
    (eventChangeNumber)="numberRecordsData($event)"
    (eventExport)="exportData()"
    (eventUpdateData)="updateData()"
  ></app-pre-table>
  <div class="table-responsive" *ngIf="listOrder?.result?.length > 0 || filters">
    <table
      [ngClass]="defaultStyleTable"
      matSort
      (matSortChange)="sortData($event)"
    >
      <caption>
        Tabla de registros paginados de la entidad
        {{
          "Order.Titulo" | translate
        }}.
      </caption>
      <thead class="text-nowrap">
        <tr>
          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'reference'"
              [typeFilter]="'string'"
              [titleName]="'Order.Labels.Reference' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>
          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'amount'"
              [typeFilter]="'string'"
              [titleName]="'Order.Labels.Amount' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>
          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'description'"
              [typeFilter]="'string'"
              [titleName]="'Order.Labels.Description' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>

          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'statusId'"
              [typeFilter]="'string'"
              [titleName]="'Order.Labels.StatusId' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>
          <th scope="col">
            <app-table-th
              [sort]="sort"
              [columnName]="'createdAt'"
              [typeFilter]="'datetime'"
              [titleName]="'Order.Labels.CreatedAt' | translate"
              (eventChangeFilter)="filterData($event)"
            ></app-table-th>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Item of listOrder?.result" (dblclick)="openModal(Item)">
          <td>{{ Item.reference }}</td>
          <td>{{ Item.amount }}</td>
          <td>{{ Item.description }}</td>
          <td>{{ Item.status.name }}</td>
          <td>{{ Item.createdAt | date: inputDatetimeFormat }}</td>


          <td class="d-flex flex-column">
            <app-table-btn
              (updateClick)="openModal(Item)"
              [ActiveDelete]="false"
              [ActiveUpdate]="true"
              (varClick)="openModal(Item, true)"
              (eliminarClick)="onDelete(Item)"
            >
            </app-table-btn>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-no-results [showError]="listOrder?.result?.length === 0"></app-no-results>
  <app-paginator
    (event)="pageData($event)"
    [page]="page"
  >
  </app-paginator>
</section>
