.ngb-datepicker {
    border: none;
}

.rounded-right {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.btn-outline-secondary {
    border: 1px solid;
    border-color: #e8e8e8;
}