@import "../../../../assets/sass/utils/variables";

.iconHeader {
    font-size: 40px;
    color: $color-primary;
}

.big-title6 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
}

a { text-decoration: none; }
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 4px solid white; line-height: 80px; border-radius: 50%; background: $color-secondary; vertical-align: middle; }
.box > .icon:hover > .image { background: $color-primary; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .image > span { font-size: 36px !important; color: #fff !important; text-transform: uppercase; }
.box > .icon:hover > .image > span { font-size: 36px !important; color: #fff !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 30px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > .more a { font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { padding: 6px 8px; font-weight: bold; background-color: $color-primary; }
.box .space { height: 30px; }
