<table style="font-family:arial,sans-serif;border:1px solid #e8e6e6;border-top:none;border-bottom:none;border-spacing:0;max-width:600px;color:#707173;border-radius:40px" align="center">
    <caption>&nbsp;</caption>
    <thead>
            <tr>
            <th scope="col" style="padding:0">
                                    <img style="width:100%;max-width:600px;border-radius:20px 20px 0 0" src="https://ci6.googleusercontent.com/proxy/eAlKd4H4oFW_xF5TxKNWNLwwS2HSjvJKUlXckNpiZHo6Lj_3a6IRNKIrUJl46y1yy0XCcO67JlrgxuTMvVYqlZsK9t3waXCqJd96NtecsDiiU2I=s0-d-e1-ft#https://static.placetopay.ec/mailing/header_evertec_approved.jpg" alt="Transacción aprobada" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 1; left: 839px; top: 223px;"><div id=":1ld" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                            </th>
        </tr>
        </thead>
    <tbody>

    <tr>
    <td style="font-size:20px;text-align:center;padding:10px 0 8px 0;display:block">
        Hola <strong><span id="m_7094769246733720631_customer"><span>{{payment.payer.name}}</span></span></strong>
    </td>
</tr>
<tr>
    <td style="font-size:23px;text-align:center;padding:10px 15px 25px 15px;display:block">
        La transacción en <strong><span id="m_7094769246733720631_merchant"><span>EGM Demostración - Comercio de Pruebas</span></span></strong> por un valor de <span id="m_7094769246733720631_currency" content="USD"></span> <span id="m_7094769246733720631_price" content="1000">USD ${{payment.order.amount}}</span> ha sido <span [style.color]="getColor()">{{status}}</span> </td>
</tr> 
<tr>
    <td style="padding:0">
        <table width="90%" style="margin:0 auto">
                        <tbody><tr>
                <td valign="top" style="padding:0">
                    <table style="background:#fdfdfd;border:solid 1px #cccccc;border-spacing:0;width:100%;padding:5px" align="center">
                        <tbody><tr>
                            <th style="font-weight:600;width:40%;line-height:14px;text-align:right;padding-right:10px">Fecha</th>
                            <td style="padding:5px 0">{{payment.createdAt}}</td>
                        </tr>
                        <tr>
                            <th style="font-weight:600;width:40%;line-height:14px;text-align:right;padding-right:10px">Referencia</th>
                            <td style="padding:5px 0">{{payment.order.reference}}</td>
                        </tr>
                        <tr>
                            <th style="font-weight:600;width:40%;line-height:14px;text-align:right;padding-right:10px">Valor</th>
                            <td style="padding:5px 0">USD ${{payment.order.amount}}</td>
                        </tr>
                                                <tr>
                            <th style="font-weight:600;width:30%;line-height:14px;text-align:right;padding-right:10px">Descripción</th>
                            <td><span>{{payment.order.description}}</span></td>
                            <td><span content="1"></span>
                        </td></tr>
                        </tbody></table>

                </td>
            </tr>
        </tbody></table>
        
    </td>
</tr>
<tr>
    <td style="text-align:center;display:block;margin:15px 0 0 0;padding:0 20px;line-height:18px">Si tienes alguna pregunta sobre tu compra, como el envío o la emisión del comprobante, te recomendamos contactarte con un asesor del comercio.</td>
</tr>
<tr>
    <td style="text-align:center;display:block;margin:15px 0 50px 0;padding:0 20px;line-height:18px"><img src="https://ci6.googleusercontent.com/proxy/cWWELhKQ7sk0ISGjDAO06B6IaWo_X069zp03WKmBuIcjib-EEmUrPm6QLgOOIkQPWAZ7lY-OHesd2cdxHbRVifLVWrE=s0-d-e1-ft#https://static.placetopay.com/placetopay-logo.svg" style="margin:auto;width:200px" class="CToWUd" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlXQ..">
<p style="color:#f41634">Este sitio se llama EGM Demostración - Comercio de Pruebas y es únicamente para pruebas, este es el correo de notificación <a href="mailto:pruebasp2p2016@gmail.com" target="_blank">pruebasp2p2016@gmail.com</a> y esta es la autorización de la trx <strong>000000</strong> no es válida</p></td>
</tr>

            <tr>
            <td style="padding:0">
                                    <a href="https://www.placetopay.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.placetopay.com&amp;source=gmail&amp;ust=1643211424056000&amp;usg=AOvVaw1B1rqRNLsJUYa2YPkAS1OU">
                        <img style="width:100%;max-width:600px;border-radius:0 0 20px 20px" src="https://ci3.googleusercontent.com/proxy/2YeGDWMxDuUAAiUy4GmWRjxLbF4ZOk6wOdRbqJGiumu8T5r24CPfCltbg0csbmgczpj72IJQuIrB10-GE_KC_qb1syfd5psuIVw=s0-d-e1-ft#https://static.placetopay.ec/mailing/footer_evertec.jpg" alt="Comprobante de transacción PlacetoPay" class="CToWUd">
                    </a>
                            </td>
        </tr>
        </tbody>
</table>